.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width : 100%;
    .home__banner{
        margin : 0px 20px;
    }
}

.banner__img{
    box-shadow: 0px 4px 4px 0px #00000040;
}